.welcome-container {
    background-color: #D9D9D9;
    padding: 180px;
    border-radius: 5px;
  }

  nav-link:hover {
    color: orange !important;
  }
  
  .small-input {
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.2rem;
  }
  